:root {
  --cor-de-fundo: rgb(2, 0, 36);
  --cor-de-fundo-degrade: linear-gradient(to right, #141e30, #243b55);
  --secondary-color: #0f0f0b;
  --cor-do-titulo: #c0c0c0;
  --branco-principal-titulo: #ffffff;
}

* {
  margin: 0;
  padding: 10;
  box-sizing: border-box;
}

body {
  background: var(--cor-de-fundo);
  background: var(--cor-de-fundo-degrade);
}

.todo__principal {
  display: flex;
  width: 50vw;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  gap: 15px;
}

.todo__titulo {
  width: 40%;
  height: 60px;
  text-align: center;
  padding: 10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  color: var(--cor-do-titulo);
  margin: 20px;
  border-width: medium;
  border-style: solid;
  border-color: #00030c;
  font-weight: bold;
  background: #00030c;
  filter: brightness(0.9);
  box-shadow: 2px 2px 5px var(--secondary-color);

}

.todo__list {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
}

.todo__item {
  display: flex;
  width: 100%;
  height: 60px;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-width: medium;
  border-style: solid;
  border-color: #00030c;
  background: #4e7acc50;
  filter: brightness(0.7);
  color: var(--branco-principal-titulo);
  box-shadow: 2px 2px 5px var(--secondary-color);
  transition: all 0.3s;
  cursor: pointer;
}

.todo__item:hover {
  border-width: thick;
  box-shadow: 3px 5px 15px 5px var(--secondary-color);
  width: 105%;
  height: 65px;
  

}

.img {
  max-width: 200px;
  max-height: 25px;
  width: auto;
  height: auto;
}
